Repository patlux/patwoz-de: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{ts,tsx}'
      run: TIMING=1 bun x eslint --cache {staged_files} && git add {staged_files}
    prettier:
      glob: '*.{ts,tsx,json,md,js,yml}'
      run: TIMING=1 bun x prettier --cache --write {staged_files} && git add {staged_files}

integrate plausible analytics
  .tool-versions
  app/root.tsx
  bun.lockb
  package.json
Due: eslint, prettier

setup cloudflare files
  bun.lockb
  functions/[[path]].ts
  load-context.ts
  package.json
  vite.config.mts
  worker-configuration.d.ts
  wrangler.toml
Due: eslint, prettier

finish cloudflare migration by remove/disable not working features for cloudflare
  app/.server/migrate.ts
  app/components/Counter.tsx
  app/components/Menu.tsx
  app/components/PageViewCounter.tsx
  app/entry.client.tsx
  app/entry.server.tsx
  app/routes/_index.tsx
  app/routes/analytics.tsx
  app/routes/api.page-views-history.tsx
  app/routes/blog_._index.tsx
  app/routes/health.tsx
  app/routes/imprint.tsx
  app/routes/qr.tsx
  app/routes/what-i-built.tsx
  app/routes/what-i-use.tsx
  app/utils/db.server.ts
  app/utils/invariant.ts
  app/utils/pageViews.server.ts
  app/utils/pageViewsHistory.server.ts
  app/utils/query-helpers.ts
  app/utils/search-params-helper.ts
  app/utils/trackPage.server.ts
  bun.lockb
  package.json
  packages/barcode/package.json
Due: eslint, prettier

re-add qrcode tool after migrating to cloudflare
  app/components/Menu.tsx
  app/routes/qr.tsx
  functions/[[path]].ts
  package.json
Due: eslint, prettier

fix tests
  tests/integration/all.test.ts
  tests/integration/test-utils.ts
  vite.config.mts
Due: eslint, prettier

fix formatting
  app/routes/blog.2024-09-13-coolify-redash.mdx
  app/routes/blog.2024-09-29-neovim-raspberry.mdx
  app/routes/blog.2024-10-05-zig-object-keys.mdx
  app/routes/blog.2024-10-13-zig-add-c-library.mdx
  app/routes/blog.2024-10-14-xcode-error-destinations.mdx
  app/routes/blog.2024-10-28-you-might-not-need-react-native-svg.mdx
  bun.lockb
  package.json
Due: prettier

sticky header
  app/components/Menu.tsx
Due: eslint, prettier

fix playwright tests
  playwright.config.ts
Due: eslint, prettier

fix analytics
  .tool-versions
  app/root.tsx
  bun.lock
  bun.lockb
  fly.toml
  package.json
Due: eslint, prettier

feature(blog): adding 2025-04-14-aws-eks-iam-principal-no-access-cluster
  app/routes/blog.2025-04-14-aws-eks-iam-principal-no-access-cluster.mdx
Due: none

feature: upgrade bun to 1.2.9 and improve ci
  .github/setup/action.yml
  .github/workflows/e2e.yml
  .github/workflows/validate.yml
  .tool-versions
  bun.lockb
Due: prettier

ci: fix validate
  .github/workflows/validate.yml
Due: prettier

ci: provide shell
  .github/setup/action.yml
Due: prettier

ci: fix check-types
  .github/workflows/validate.yml
Due: prettier

ci: upload-artifact@v4
  .github/workflows/e2e.yml
Due: prettier

feat(blog): nicer list of blog posts and adding link back for blog posts
  app/routes/blog.tsx
  app/routes/blog_._index.tsx
Due: eslint, prettier

fix(blog): fix duplicates for meta
  app/routes/blog.2024-09-13-coolify-redash.mdx
  app/routes/blog.2024-09-29-neovim-raspberry.mdx
  app/routes/blog.2024-10-05-zig-object-keys.mdx
  app/routes/blog.2024-10-13-zig-add-c-library.mdx
  app/routes/blog.2024-10-14-xcode-error-destinations.mdx
  app/routes/blog.2024-10-28-you-might-not-need-react-native-svg.mdx
  app/routes/blog.2025-04-14-aws-eks-iam-principal-no-access-cluster.mdx
Due: none

fix(blog): share handling of meta tags in one place
  app/blog/meta.ts
  app/routes/blog.2024-09-13-coolify-redash.mdx
  app/routes/blog.2024-09-29-neovim-raspberry.mdx
  app/routes/blog.2024-10-05-zig-object-keys.mdx
  app/routes/blog.2024-10-13-zig-add-c-library.mdx
  app/routes/blog.2024-10-14-xcode-error-destinations.mdx
  app/routes/blog.2024-10-28-you-might-not-need-react-native-svg.mdx
  app/routes/blog.2025-04-14-aws-eks-iam-principal-no-access-cluster.mdx
Due: eslint, prettier

feat(blog): adding meta article:published_time
  app/blog/meta.ts
Due: eslint, prettier

feat(blog): adding a short introduction text into blog posts
  app/routes/blog.2024-09-13-coolify-redash.mdx
  app/routes/blog.2024-09-29-neovim-raspberry.mdx
  app/routes/blog.2024-10-05-zig-object-keys.mdx
  app/routes/blog.2024-10-13-zig-add-c-library.mdx
  app/routes/blog.2024-10-28-you-might-not-need-react-native-svg.mdx
  app/routes/blog.2025-04-14-aws-eks-iam-principal-no-access-cluster.mdx
  app/routes/blog.tsx
Due: eslint, prettier

refactor(blog): adding BlogLayout
  app/blog/BlogLayout.tsx
  app/routes/blog.2024-09-13-coolify-redash.mdx
  app/routes/blog.2024-09-29-neovim-raspberry.mdx
  app/routes/blog.2024-10-05-zig-object-keys.mdx
  app/routes/blog.2024-10-13-zig-add-c-library.mdx
  app/routes/blog.2024-10-14-xcode-error-destinations.mdx
  app/routes/blog.2024-10-28-you-might-not-need-react-native-svg.mdx
  app/routes/blog.2025-04-14-aws-eks-iam-principal-no-access-cluster.mdx
Due: eslint, prettier

feat(blog): display published date on blog posts
  app/blog/BlogLayout.tsx
  app/routes/blog.tsx
Due: eslint, prettier

fix(sitemap): add all pages
  app/routes/sitemap[.]xml.tsx
Due: eslint, prettier

fix(home): adding ibm
  app/routes/_index.tsx
  public/company/ABL_Logo.svg
  public/company/IBM_logo.svg
Due: eslint, prettier

feat(blog): adding blog images
  app/blog/BlogLayout.tsx
  app/blog/meta.ts
  app/routes/blog.2024-09-13-coolify-redash.mdx
  app/routes/blog.2024-09-29-neovim-raspberry.mdx
  app/routes/blog.2024-10-05-zig-object-keys.mdx
  app/routes/blog.2024-10-13-zig-add-c-library.mdx
  app/routes/blog.2024-10-14-xcode-error-destinations.mdx
  app/routes/blog.2024-10-28-you-might-not-need-react-native-svg.mdx
  app/routes/blog.2025-04-14-aws-eks-iam-principal-no-access-cluster.mdx
  public/blog-images/2024-09-13-coolify-redash.avif
  public/blog-images/2024-09-29-neovim-raspberry.avif
  public/blog-images/2024-10-05-zig-object-keys.avif
  public/blog-images/2024-10-13-zig-add-c-library.avif
  public/blog-images/2024-10-14-xcode-error-destinations.avif
  public/blog-images/2024-10-28-you-might-not-need-react-native-svg.avif
  public/blog-images/2025-04-14-aws-eks-iam-principal-no-access-cluster.avif
Due: eslint, prettier

fix(blog): better list of blog posts
  app/routes/blog_._index.tsx
Due: eslint, prettier

chore: clear cdn after deployment
  package.json
Due: prettier

feat(nav): display main nav items directly on tablet sizes
  app/components/Menu.tsx
Due: eslint, prettier

feat: improve text on home page
  app/components/Introduction.tsx
  app/routes/_index.tsx
Due: eslint, prettier

wip: 2025-04-21-kubernetes-macos-getting-started
  app/routes/blog.2025-04-21-kubernetes-macos-getting-started.mdx
Due: none

feat(blog): finish blog post kubernetes-macos-getting-started
  app/blog/BlogLayout.tsx
  app/routes/blog.2025-04-21-kubernetes-macos-getting-started.mdx
  app/routes/blog.2025-04-26-kubernetes-macos-getting-started.mdx
Due: eslint, prettier

fix(blog): adding some comments to yaml
  app/routes/blog.2025-04-26-kubernetes-macos-getting-started.mdx
  package.json
Due: prettier

feat(tesla-fleet): adding public key
  public/.well-known/appspecific/com.tesla.3p.public-key.pem
Due: none

fix navigation
  src/components/Menu.astro
Due: none

optimize images
  astro.config.mjs
  bun.lock
  package.json
  packages/barcode/Cargo.lock
  packages/barcode/Cargo.toml
  packages/barcode/bun.lockb
  packages/barcode/package.json
  packages/barcode/patch.ts
  packages/barcode/src/lib.rs
  public/apple-touch-icon.png
  public/company/Porsche-Logo.webp
  public/company/Porsche-Logo.wine.svg
  src/assets/images/me.jpg
  src/assets/images/patwoz-logo-transparent-800px.png
  src/components/Introduction.astro
  src/components/Menu.astro
  src/pages/index.astro
  src/pages/qr.astro
Due: eslint, prettier

further optimisations
  public/company/IBM_logo.svg
  public/company/sap.svg
  public/company/str-logo-white.svg
  public/company/t-online-desktop.327ab976.svg
  public/favicon.ico
  src/components/Introduction.astro
  src/components/Menu.astro
  src/layouts/Layout.astro
Due: none

remove old Remix functions handler
  functions/[[path]].ts
Due: eslint, prettier

fix: update Playwright config for Astro, remove old ESLint config
  .eslintignore
  .eslintrc.js
  playwright.config.ts
Due: eslint, prettier

chore: remove eslint from lefthook, add astro files to prettier
  lefthook.yml
Due: prettier
