Repository patlux/patwoz-de: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: TIMING=1 bunx eslint --cache {staged_files} && git add {staged_files}

prettier:
  run: TIMING=1 bunx prettier --cache --write {staged_files} && git add {staged_files}

feat: new design
  app/components/BaseLayout.tsx
  app/components/Footer.tsx
  app/components/Menu.tsx
  app/icons/GithubIcon.tsx
  app/icons/LinkedInIcon.tsx
  app/icons/StackOverflowIcon.tsx
  app/icons/TwitterIcon.tsx
  app/icons/XingIcon.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/routes/imprint.tsx
  app/tailwind.css
  app/utils/classNames.tsx
  bun.lockb
  package.json
  tailwind.config.js
Due: eslint, prettier

style: fixes eslint warnings
  app/components/BaseLayout.tsx
  app/components/Footer.tsx
  app/components/Menu.tsx
  app/icons/GithubIcon.tsx
  app/icons/LinkedInIcon.tsx
  app/icons/StackOverflowIcon.tsx
  app/icons/TwitterIcon.tsx
  app/icons/XingIcon.tsx
  app/routes/_index.tsx
  app/routes/imprint.tsx
  app/utils/classNames.tsx
Due: eslint, prettier

chore(docker): fixes docker image
  .dockerignore
  .gitignore
  Dockerfile
  package.json
  server.ts
  server/server-utils.ts
Due: eslint, prettier

chore: build remix first and then the server
  package.json
Due: prettier

feat: adding /health endpoint
  .eslintignore
  app/routes/health.tsx
  package.json
  tests/all.test.ts
Due: eslint, prettier

chore: ignore type error due of missing ./build
  server.ts
Due: eslint, prettier

tests(e2e): fixes start of server
  package.json
Due: prettier

ci: use official setup-bun workflow and use canary version of bun where it's necessary
  .github/workflows/e2e.yml
  .github/workflows/validate.yml
Due: prettier

tests(checkly): setup checkly
  README.md
  bun.lockb
  checkly.config.ts
  e2e/env.ts
  e2e/home.e2e.ts
  package.json
  playwright.config.ts
Due: eslint, prettier

feat: restructure first page
  app/components/Introduction.tsx
  app/components/Menu.tsx
  app/routes/_index.tsx
  app/routes/imprint.tsx
  app/routes/what-i-built.tsx
  app/routes/what-i-use.tsx
  app/utils/trackPage.server.ts
Due: eslint, prettier

fixes lefthook
  bun.lockb
  package.json
Due: prettier

removing inter font family
  app/root.tsx
  tailwind.config.js
Due: eslint, prettier

email
  README.md
Due: prettier

fixes scrollable header if menu is collapsed
  app/components/Menu.tsx
Due: eslint, prettier

fixes tests
  tests/all.test.ts
Due: eslint, prettier

catch errors
  server.ts
Due: eslint, prettier

bun 0.7.3 + docker fix
  .github/workflows/validate.yml
  Dockerfile
Due: prettier

fix type
  app/utils/pageViewsHistory.server.ts
Due: eslint, prettier

fix type
  server.ts
Due: eslint, prettier

move all test files into tests/
  package.json
  tests/e2e/checkly.config.ts
  tests/e2e/env.ts
  tests/e2e/home.e2e.ts
  tests/e2e/playwright.config.ts
  tests/integration/all.test.ts
Due: eslint, prettier

random free port for integration tests
  tests/integration/all.test.ts
Due: eslint, prettier

simplify playwright setup
  server.ts
  tests/e2e/env.ts
  tests/e2e/playwright.config.ts
Due: eslint, prettier

ci: set max timeout
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/validate.yml
Due: prettier

ci: debug prettier
  .github/workflows/validate.yml
Due: prettier

ci: debug prettier 2
  .github/workflows/validate.yml
Due: prettier

ci: debug prettier 3
  .github/workflows/validate.yml
  package.json
Due: prettier

adding recent git hash as header and provide an api endpoint for it
  app/utils/git.server.ts
  server.ts
Due: eslint, prettier

fix: upgrade bun to v1.0.14
  .github/workflows/validate.yml
  .tool-versions
  Dockerfile
  README.md
  bun.lockb
  lefthook.yml
  package.json
Due: prettier

fix: upgrade remix to v2.3.1
  .tool-versions
  app/entry.client.tsx
  app/entry.server.tsx
  app/routes/_index.tsx
  app/routes/api.page-views-history.tsx
  bun.lockb
  package.json
  remix.config.js
  server.ts
Due: eslint, prettier

chore: fix types
  app/root.tsx
  app/routes/imprint.tsx
  app/routes/what-i-built.tsx
  app/routes/what-i-use.tsx
Due: eslint, prettier

feat(qr): adding qr code generator
  app/routes/qr.tsx
  app/utils/invariant.ts
  bun.lockb
  package.json
Due: eslint, prettier

feat(qr): adding alt tag to img
  app/routes/qr.tsx
Due: eslint, prettier

feat(qr): adding meta tag
  app/routes/qr.tsx
Due: eslint, prettier

fix(qr): allow empty value due of get method
  app/routes/qr.tsx
Due: eslint, prettier

feat(qr): link qr code generator in menu
  app/components/Menu.tsx
Due: eslint, prettier

chore: upgrade prettier and re-run formatting
  app/routes/health.tsx
  app/utils/pageViews.server.ts
  app/utils/pageViewsHistory.server.ts
  app/utils/search-params-helper.ts
  bun.lockb
  package.json
  tests/e2e/home.e2e.ts
  tests/integration/all.test.ts
Due: eslint, prettier

tests(e2e): update playwright config
  .github/workflows/e2e.yml
  tests/e2e/playwright.config.ts
Due: eslint, prettier

fix: removing macro to get git commit hash
  app/utils/git.server.ts
  server.ts
Due: eslint, prettier

chore: simplify Dockerfile
  Dockerfile
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,json,md,js,yml}
