Repository patlux/patwoz-de: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: TIMING=1 bun x eslint --cache {staged_files} && git add {staged_files}

prettier:
  run: TIMING=1 bun x prettier --cache --write {staged_files} && git add {staged_files}

tests: run e2e tests against dev server
  .github/workflows/e2e.yml
  package.json
  playwright.config.ts
Due: eslint, prettier

feat(code): adding code128
  app/routes/qr.tsx
  bun.lockb
  package.json
Due: eslint, prettier

fix(qr): default checked qr
  app/routes/qr.tsx
Due: eslint, prettier

feat: link header logo to main page
  app/components/Menu.tsx
Due: eslint, prettier

feat: rust -> webassembly -> bun barcode library
  .dockerignore
  .gitignore
  Dockerfile
  app/routes/qr.tsx
  app/utils/barcode.server.ts
  bun.lockb
  package.json
  packages/barcode/Cargo.lock
  packages/barcode/Cargo.toml
  packages/barcode/Makefile
  packages/barcode/src/lib.rs
Due: eslint, prettier

fix: adds noreferrer
  app/routes/qr.tsx
Due: eslint, prettier

upgrade remix
  .tool-versions
  app/.server/migrate.ts
  app/entry.server.tsx
  app/root.tsx
  app/routes/qr.tsx
  bun.lockb
  env.d.ts
  package.json
  postcss.config.mjs
  remix.config.js
  server.ts
  tsconfig.json
  vite.config.ts
Due: eslint, prettier

fix barcode
  Dockerfile
  app/.server/barcode.ts
  app/routes/qr.tsx
  app/utils/barcode.server.ts
  bun.lockb
  package.json
  packages/barcode/Makefile
  packages/barcode/bun.lockb
  packages/barcode/package.json
  packages/barcode/patch.ts
Due: eslint, prettier

fix docker image
  .dockerignore
  Dockerfile
Due: none

fix tests
  tests/integration/all.test.ts
  tests/integration/test-utils.ts
  vite.config.ts
Due: eslint, prettier

adjust address on imprint
  app/routes/imprint.tsx
Due: eslint, prettier

ci: build deps
  .github/workflows/validate.yml
  package.json
Due: prettier

ci: update bun
  .github/workflows/e2e.yml
  .github/workflows/validate.yml
Due: prettier

fix missing types for bwip-js
  bun.lockb
  package.json
Due: prettier

ci: fix build
  .github/workflows/validate.yml
Due: prettier

ci: deploy only on request
  .github/workflows/deploy.yml
Due: prettier

update bun lockfile
  bun.lockb
Due: none

upgrade some deps
  bun.lockb
  package.json
  vite.config.ts
Due: eslint, prettier

downgrade tsconfig-paths
  bun.lockb
  package.json
Due: prettier

adding references
  app/routes/_index.tsx
  public/company/ABL_Logo.svg
  public/company/Porsche-Logo.wine.svg
  public/company/sap.svg
  public/company/str-logo-white.svg
  public/company/t-online-desktop.327ab976.svg
Due: eslint, prettier

make component of company references and fix stylings
  app/routes/_index.tsx
Due: eslint, prettier

fix lint
  app/routes/_index.tsx
Due: eslint, prettier

fix type error
  tests/integration/test-utils.ts
Due: eslint, prettier

setup blog
  app/.server/posts.tsx
  app/components/Counter.tsx
  app/components/Menu.tsx
  app/routes/blog.2024-09-07-test.mdx
  app/routes/blog.tsx
  app/routes/blog_._index.tsx
  bun.lockb
  package.json
  vite.config.mts
  vite.config.ts
Due: eslint, prettier

finish blog feature
  app/routes/blog.2024-09-07-test.mdx
  app/routes/blog.2024-09-13-coolify-redash.mdx
  app/routes/blog.2024-09-29-neovim-raspberry.mdx
  app/routes/blog.tsx
  app/routes/blog_._index.tsx
Due: eslint, prettier

adding additional tools section to blog post
  app/routes/blog.2024-09-29-neovim-raspberry.mdx
Due: none

update bun.lockb
  bun.lockb
Due: none

bun 1.1.29
  .tool-versions
  Dockerfile
  bun.lockb
  package.json
Due: prettier

adding blog post 2024-10-05-zig-object-keys
  app/routes/blog.2024-10-05-zig-object-keys.mdx
Due: none

set meta tags for blog posts
  app/routes/blog.2024-09-13-coolify-redash.mdx
  app/routes/blog.2024-09-29-neovim-raspberry.mdx
  app/routes/blog.2024-10-05-zig-object-keys.mdx
  app/routes/blog.tsx
Due: eslint, prettier

adding css for line numbers
  app/routes/blog.tsx
  app/tailwind.css
Due: eslint, prettier

adding blog.2024-10-13-zig-add-c-library
  app/routes/blog.2024-10-13-zig-add-c-library.mdx
Due: none

adding link to source code
  app/routes/blog.2024-10-13-zig-add-c-library.mdx
Due: none

fix build on linux
  app/routes/blog.2024-10-13-zig-add-c-library.mdx
Due: none

2024-10-14-xcode-error-destinations
  app/routes/blog.2024-10-14-xcode-error-destinations.mdx
Due: none

adjust blog typography
  app/routes/blog.tsx
  app/tailwind.css
  tailwind.config.js
Due: eslint, prettier

2024-10-28-you-might-not-need-react-native-svg.mdx
  app/routes/blog.2024-10-28-you-might-not-need-react-native-svg.mdx
Due: none

typo
  app/routes/blog.2024-10-28-you-might-not-need-react-native-svg.mdx
Due: none

2024-10-28: adding disadvantage for svg
  app/routes/blog.2024-10-28-you-might-not-need-react-native-svg.mdx
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,json,md,js,yml}
